* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20%;
}

button {
  width: 200px;
  height: 130px;
  border: none;
  border-radius: 30px;
  outline: none;
  background-color: #df2e38;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 60px;
  /* transition: all 0.3s ease-in-out; */
}

.p {
  width: 50%;
  font-size: 3rem;
  margin: 4rem auto;
  color: #070a52;
  text-align: center;
}

img {
  margin-left: -425px;
}
